{% extends "layout.html" %}

{% block title %}Журнал доступа{% endblock title %}

{% block content %}
<h1>Журнал доступа</h1>

{% comment %} Карты студентов (ДЛЯ ТЕСТИРОВАНИЯ)
<div class="row">
    <div class="col-3">
        <form method="post" action="{% url 'rfid_access' %}">
            {% csrf_token %}
            <input type="hidden" name="rfid_tag_attempted" value="1234567890">
            <button type="submit" class="btn btn-primary">Приложить карту Кузнецова</button>
        </form>
    </div>
    <div class="col-3">
        <form method="post" action="{% url 'rfid_access' %}">
            {% csrf_token %}
            <input type="hidden" name="rfid_tag_attempted" value="f54277">
            <button type="submit" class="btn btn-primary">Приложить карту Колупаева</button>
        </form>
    </div>
    <div class="col-3">
        <form method="post" action="{% url 'rfid_access' %}">
            {% csrf_token %}
            <input type="hidden" name="rfid_tag_attempted" value="7650bb6f">
            <button type="submit" class="btn btn-primary">Приложить карту Цурина</button>
        </form>
    </div>
    <div class="col-3">
        <form method="post" action="{% url 'rfid_access' %}">
            {% csrf_token %}
            <input type="hidden" name="rfid_tag_attempted" value="1234567892">
            <button type="submit" class="btn btn-primary">Приложить карту Тошниёзова</button>
        </form>
    </div>
</div>
 {% endcomment %}

<table class="table">
    <thead>
        <tr>
            <th class="col">Студент</th>
            <th class="col">Время доступа</th>
            <th class="col">Статус доступа</th>
            <th class="col">Блок хранения</th>
            <th class="col">UID RFID</th>
        </tr>
    </thead>
    <tbody>
        {% for log in access_logs %}
        <tr>
            <td scope="row">{{ log.student }}</td>
            <td scope="row">{{ log.access_time }}</td>
            <td scope="row">
                {% if log.is_access_granted %}
                    <span class="badge text-bg-success">Разрешен</span>
                {% else %}
                    <span class="badge text-bg-danger">Запрещен</span>
                {% endif %}
            </td>
            <td scope="row">{{ log.storage_unit }}</td>
            <td scope="row">{{ log.rfid_tag_attempted }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} Пагинация {% endcomment %}
<ul class="pagination">
{% if access_logs.has_previous %}
<li class="page-item"><a class="page-link" href="?page=1">&laquo; Первая</a></li>
<li class="page-item"><a class="page-link" href="?page={{ access_logs.previous_page_number }}">Предыдущая</a></li>
{% endif %}

<li class="page-item disabled">
<span class="page-link">
    Страница {{ access_logs.number }} из {{ access_logs.paginator.num_pages }}.
</span>
</li>

{% if access_logs.has_next %}
<li class="page-item"><a class="page-link" href="?page={{ access_logs.next_page_number }}">Следующая</a></li>
<li class="page-item"><a class="page-link" href="?page={{ access_logs.paginator.num_pages }}">Последняя &raquo;</a></li>
{% endif %}
</ul>

{% endblock content %}
